{% extends "site_base.html" %}

{% load i18n %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/campaign_1.0.0.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>

<script type="text/javascript">
    var csrftoken = $.cookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $(document).ready(function() {
        $( "#id_date" ).datepicker();
        $( "input:submit, .link, button" ).button();
        $('.delete_game').click(function() {
            return confirm("{%trans 'Are you certain that you wish to permenantly delete this game?\nThis cannot be un-done.'%}");
        });
        $('#id_delete').click(function() {
            if (confirm("{%trans 'Are you certain that you wish to permenantly delete this campaign?\nThis cannot be un-done.'%}")) {
                {% if campaign.games.all.exists %}
                return confirm("{% trans 'Really? This will also permenantly delete all campaign games.\nAre you certain?'%}");
                {% else %}
                return true;
                {% endif %}
            }
            return false;



        });
    });
</script>
{% endblock extra_head %}

{% load ifsetting_tag %}

{% block head_title %}{% trans "Campaign" %}{% endblock %}

{% block body %}
    <form method="post" id="formObject" action="/eotd/campaign/{{campaign_id}}/save/" enctype="multipart/form-data"> {% csrf_token %}
<div style="width=100%; display:block; clear:both;">
            <table class="ui-widget">
                <tbody class="ui-widget-content">
                    <tr>
                    {% if campaign_id == '0' %}
                        <td><h1>{% trans "Create new campaign"%}</h1></td><td>{{formObject.name}}</td></tr>
                    {% else %}
                        {% if edit %}
                            <td><h1>{% trans "Edit campaign"%}</h1></td><td>{{formObject.name}}</td>
                        {% else %}
                            <td><h1>{% trans "View campaign"%}</h1></td><td>{{formObject.name.value}}</td>
                        {% endif %}
                    {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>

        {{ formset.management_form }}

        <div style="width:100%; clear:both;">
            <div class="leftDouble">
                <table class="ui-widget">
                    <tbody class="ui-widget-content">
                        {% if campaign_id == '0' or edit %}
                        <tr><td>{{formObject.secret.label}}</td><td>{{formObject.secret}}</td></tr>
                        {% endif %}
                        <tr><td>{{formObject.coins.label}}</td><td>{{formObject.coins}}</td></tr>
                    </tbody>
                </table>
            </div>

            <div class="rightDouble">
                <table class="ui-widget">
                    <tbody class="ui-widget-content">
                        <tr><td>{% trans 'Description' %}</td><td>{{formObject.description}}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>

        {% if edit %}
        <div style="width=100%; display:block; clear:both;">
            <table class="ui-widget">
                <tbody class="ui-widget-content">
                    <tr>
                        <td> <button name="save" type="submit">{% trans "Save" %}</button> </td>
                        {% if campaign_id != '0' and owner %}
                        <td> <button name="delete" type="submit" id="id_delete">{% trans "delete" %}</button> </td>
                        {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}



        </form>

        {% if campaign_id != '0' %}
        <div style="width=100%; display:block; clear:both;">
            <h1>{% trans 'Factions' %}</h1>
            <table class="ui-widget">
                <thead class="ui-widget-header">
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Owner' %}</th>
                    <th>{% trans 'Faction value' %}</th>
                </tr>
                </thead>
                <tbody class="ui-widget-content">
                    {% for item in campaign.teamsByStanding %}
                    <tr>
                        <td><a href="/eotd/team/{{item.id}}/">{{item.name}}</a></td>
                        <td><a href="/profiles/profile/{{item.owner}}/">{{item.owner}}</a></td>
                        <td>{{item.value}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        {% if campaign_id != '0' and user.is_authenticated %}
        <form method="post" id="joinCampaign" action="/eotd/campaign/{{campaign_id}}/join/" enctype="multipart/form-data"> {% csrf_token %}
            <div style="width=100%; display:block; clear:both;">
                <table class="ui-widget">
                    <tbody class="ui-widget-content">
                        {% if user not in campaign.players.all %}
                        <tr>
                            <td> <button name="apply" type="submit">{% trans "Apply to join Campaign" %}</button> </td>
                            <td> <button name="join" type="submit">{% trans "Join Campaign (enter password)" %}</button> </td><td><input type="text" name="password" id="id_password"/></td>
                        </tr>
                        {% else %}
                        <tr>
                            <td> <button name="addTeam" type="submit">{% trans "Add pre-existing faction" %}</a></button>
                                <select name="addPriorTeam">
                                    <option value="" selected>----</option>
                                    {% for team in userTeams %}
                                    {% if not team in campaign.teams.all %}
                                    <option value="{{team.id}}">{{team}}</option>
                                    {% endif %}
                                    {% endfor %}

                                </select>
                            </td>
                            <td> <button name="createTeam" type="submit"><a href="/eotd/team/0/" >{% trans "Create new faction for this campaign" %}</a></button> </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </form>
        {% endif %}

        {% if campaign_id != '0' %}
            <div style="width=100%; display:block; clear:both;">
                <h1>{% trans 'Games' %}</h1>
                <table class="ui-widget">
                    <thead class="ui-widget-header">
                        <th>{% trans 'Date' %}</th>
                    </thead>
                    <tbody class="ui-widget-content">
                        {% for game in campaign.games.all %}
                        <tr>
                            <td>{{game.date}}</td>
                            {% for team in game.teams.all %}
                            <td><a href="/eotd/team/{{team.id}}/">{{team}}</a></td>
                            {% endfor %}
                            <td><a class="link" href="/eotd/game/{{game.id}}/">{% trans 'View game' %}</a></td>
                            {% if edit %}
                            <td><a class="link delete_game" href="/eotd/game/{{game.id}}/delete/">{% trans "Delete game" %}</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if campaign_id != '0' and edit %}
        <form method="post" id="addGame" action="/eotd/campaign/{{campaign_id}}/game/" enctype="multipart/form-data"> {% csrf_token %}
            <div style="width=100%; display:block; clear:both;">
                <table class="ui-widget">
                    <tbody class="ui-widget-content">
                        <tr>
                            <td>{{gameForm.teams}}</td>
                            <td>{{gameForm.teamTwo}}</td>
                            <td>{{gameForm.date}}</td>
                            <td><button name="addGame" type="submit">{% trans "Add game" %}</button> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
        {% endif %}

{% endblock %}
