{% extends "site_base.html" %}

{% load i18n %}

{% block extra_head %}
<style>
    input { width:90px; }
</style>
{% endblock extra_head %}

{% load ifsetting_tag %}

{% block head_title %}{% trans "View Game" %}{% endblock %}

{% block body %}
{% comment %}
<form method="post" id="gameForm" action="/eotd/game/{{game.id}}/save/" enctype="multipart/form-data"> {% csrf_token %}
    {% endcomment %}
        {% if edit %}
        <h1>{% trans "Edit game"%}</h1>
        {% else %}
        <h1>{% trans "View game"%}</h1>
        {% endif %}
        <div style="width:100%; clear:both;">
            <table>
                <thead>
                    <th>{% trans 'Team' %}</th>
                    <th>{% trans 'Points scored' %}</th>
                    <th>{% trans 'Winnings' %}</th>
                    <th>{% trans 'Influence spent' %}</th>
                    <th>{% trans 'Influence bought' %}</th>
                </thead>
                <tbody>
                    {% for team in teams %}
                    <form method="post" id="team_{{team.teamID.value}}" action="/eotd/game/{{game.id}}/update/" enctype="multipart/form-data"> {% csrf_token %}
                        <tr>
                            <td><a href="/eotd/team/{{team.teamID.value}}/">{{team.team.value}}</a></td>
                            <td>{{team.victoryPoints}}</td>
                            <td>{{team.earnings}}</td>
                            <td>{{team.influenceSpent}}</td>
                            <td>{{team.influenceBought}}</td>
                            <td><button name="save" type="submit" value="{{team.teamID.value}}">{% trans "Update" %}</button></td>
                        </tr>
                    </form>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% for team_unitset in unitArray %}
        <div style="width=100%; display:block; clear:both;">
            <form method="post" action="/eotd/game/{{game.id}}/units/" enctype="multipart/form-data"> {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Summary' %}</th>
                        <th>{% trans 'New skill' %}</th>
                        <th>{% trans 'New Injury' %}</th>
                    </tr>
                </thead>

                {% for unit in team_unitset.units %}
                <tr>
                    <td>{{unit.name.value}}</td>
                    <td>{{unit.summary.value}}</td>
                    <td>{{unit.skills}}</td>
                    <td>{{unit.injuries}}</td>
                </tr>
                {% endfor %}
            </table>
            {% if team_unitset.gents %}
            <table>
                <thead>
                    <tr>
                        <th colspan="2">{% trans 'Gentlemen & Jackanapes' %}</th>
                        <th>{% trans 'Retainer' %}</th>
                        <th>{% trans 'Retain?' %}</th>
                    </tr>
                </thead>
                {% for unit in team_unitset.gents %}
                <tr>
                    <td colspan="2">{{unit.name.value}}</td>
                    <td>Retainer: {{unit.rent.value}}</td>
                    <td>{{unit.retain}}</td>
                </tr>

                {% endfor %}
            </table>
            {% endif %}
            <button style="float:right;" name="update" type="submit">{% trans 'Update' %}</button>
        </div>
        {% endfor %}
        {% comment %}
    </form>
    {% endcomment %}

{% endblock %}
