{% extends "site_base.html" %}

{% load i18n %}
{% block extra_head %}
<script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() 
    { 
        $("#id_campaign_table").tablesorter({sortList: [[0,0]]} ); 
    } 
    ); 
</script>
{% endblock extra_head %}

{% load ifsetting_tag %}

{% block head_title %}{% trans "View Campaigns" %}{% endblock %}

{% block body %}

{% include 'eotd/campaign_list_table.html' %}
{% endblock %}
