{% load i18n %}
{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/print_1.0.0.css">
<title>{{team.name}}</title>
{% endblock extra_head %}
<h3>{{team.name}}</h3>
<table>
    <tr>
        <td>{% trans 'Faction:' %}{{team.faction}}</td>
        <td>{% trans 'Owner:' %}{{team.owner}}</td>
        <td>{% trans 'Standing:' %}{{team.value}}</td>
        <td>{% trans 'Coins:' %}{{team.coins}}</td>
    </tr>
</table>
<table>
    <thead>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Role' %}</th>
        <th>{% trans 'Mv' %}</th>
        <th>{% trans 'Ct' %}</th>
        <th>{% trans 'Mk' %}</th>
        <th>{% trans 'St' %} </th>
        <th>{% trans 'Ft' %}</th>
        <th>{% trans 'At' %}</th>
        <th>{% trans 'W' %}</th>
        <th>{% trans 'Bv.' %}</th>
        <th>{% trans 'Ar' %}</th>
        <th></th>
        <th>{% trans 'Injuries' %}</th>
        <th>{% trans 'Cost' %}</th>
    </thead>
    <tbody>
        {% for item in team.units.all %}
        {% if forloop.counter|divisibleby:"2" %}
        <tr>
        {% else %}
        <tr class="shade">
        {% endif %}
            <td>{{item.name}}</td>
            <td>{{item.baseUnit.name}}</td>
            <td>{{item.movement}}</td>
            <td>{{item.combat}}</td>
            <td>{{item.marksmanship}}</td>
            <td>{{item.strength}}</td>
            <td>{{item.fortitude}}</td>
            <td>{{item.attacks}}</td>
            <td>{{item.wounds}}</td>
            <td>{{item.bravado}}</td>
            <td>{{item.arcane}}</td>
            <td>
                {% for skill in item.skills.all %}{% if forloop.counter > 1 %}, {% endif %}{{skill}}{% endfor %}
                {% for weapon in item.weapons.all %}{% if forloop.counter > 1 or item.skills.all %}, {% endif %}{{weapon}}{% endfor %}
            </td>
            <td></td>
            <td>{{item.cost}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

