{% extends "site_base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/campaign_1.0.0.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/team_edit_1.0.0.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<style>
    .weapon { display:inline-block;float:left;margin:1px;padding-left:4px;padding-right:4px;min-height:22px;}
    .weapon-slot { width:100px; display:inline-block;float:left;margin:1px; min-height:18px;}
    .weapon_row { padding:1px 8px 1px; }
    .equip_select { display:inline-block;float:left;margin:1px; }
</style>
<script type="text/javascript">

$(document).ready(function() {
    var csrftoken = $.cookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $( "input:submit, .link, button" ).button();

    $(".bought-weapon" ).draggable({ revert: "invalid",
        start: function(event, ui) {
        $(this).data('startPosition', ui.position);
        },
    });
    $(".weapon-slot" ).droppable({activeClass: "ui-state-hover",
        drop: function(event, ui) { 
            var source = ui.draggable.attr("id").split('_');
            var fromUnit = source[0];
            var weapon = source[1]
            var toUnit = $(this).attr("id").split('_')[1]
            $.ajax({
                type: 'POST',
                url: "/eotd/weapon/move/",
                data: {'from':fromUnit, 'to':toUnit, 'weapon':weapon},
                dataType: "json",
                context: $(this),
                success: function(data){
                    ui.draggable.attr("id",toUnit+"_"+weapon);
                },
                error: function(data){
                    $(ui.draggable).animate($(ui.draggable).data('startPosition'), 500);
                }
            });
        }
        });
    $(".medieval-slot").droppable({accept:".medieval-weapon"});
    function update_purchase_dialog_html(html){
        $("#purchase_dialog").html(html);
        $( ".equip-button, .equip-and-close-button" ).button();
        $('.equip-button').click({close:false},equip_click);
        $('.equip-and-close-button').click({close:true},equip_click);
    }
    function equip_click(event){
        var source = $(this).val().split('_');
        var unit = source[0];
        var weapon_list = source[1];
        var weapon = $("#wl_"+weapon_list).val();
        $.ajax({
            type: 'POST',
            url: "/eotd/unit/"+unit+"/buy/"+weapon+"/",
            success: function(msg){
            update_purchase_dialog_html(msg);
                if (event.data.close)
                    $("#purchase_dialog").dialog('close');
            },
            error: function(msg){
                alert(msg.responseText);
            }
        });
        return false;
    }
    $("#purchase_dialog").dialog({
        width: 480,
        height: 320,
        bgiframe: true,
        autoOpen: false,
        modal: true,
        buttons: {
            {% trans "'Close'"%}: function(){
                $(this).dialog('close');
            }
        },
        open: function(event){
            $.ajax({
                type: 'POST',
                url: "/eotd/unit/"+$('#'+$(this).data('caller').id).val()+"/equip/",
                context: $(this),
                success: function(msg){
                    update_purchase_dialog_html(msg);
                    return false;
                },
                error: function(msg) {
                    $("#purchase_dialog").dialog('close');
                    alert(" {% trans 'Error' %}");
                },
            });
        },
    });

    $("#name_dialog").dialog({
        width: 400,
        height: 180,
        bgiframe: true,
        autoOpen: false,
        modal: true,
        buttons: {
            '{% trans 'Update Name' %}': function(){
                $.ajax({
                    type: 'POST',
                    url: "/eotd/unit/"+$('#'+$(this).data('caller').id).val()+"/rename/",
                    data: {'name':$(this).find('input').val()},
                    dataType: "json",
                    context: $(this),
                    success: function(data){
                        $('#'+$(this).data('caller').id).button( "option", "label", $(this).find('input').val() );
                        $(this).dialog('close');
                    }
                });
            },
            'Cancel': function(){
                $(this).dialog('close');
            }
        },
        open: function(event){
            // Set the input to contain the current name
            $(this).find('input').val( $('#'+$(this).data('caller').id).text()  );
              },
    });

    $('.purchase_button').click(function() {
        $("#purchase_dialog").data('caller', this).dialog('open');
        // prevent the default action, e.g., following a link
        return false;
    });
    $('.name_button').click(function() {
        $("#name_dialog").data('caller', this).dialog('open');
        // prevent the default action, e.g., following a link
        return false;
    });
    $('#unit_table').sortable({
        items: 'tbody',
        forcePlaceholderSize: true,
        placeholder: 'group_move_placeholder',
        update: function( event, ui ) {
            $.ajax({
                type: 'POST',
                url: "/eotd/team/{{team.id}}/reorder/",
                data: {'order':$(this).sortable('toArray')},
                dataType: "json",
                failure: function(data){
                    alert("{%trans 'Unable to save updated team order.' %}");
                },
            });
            }
        });
    // greg want disableSelection? $("#unit_table tbody").sortable().disableSelection();
});
</script>
{% endblock extra_head %}

{% load ifsetting_tag %}

{% block head_title %}

{% if edit %}
{% trans "Edit Team" %}
{% else %}
{% trans "View Team" %}
{% endif %}
{% endblock %}

{% block body %}
    <form method="post" id="formObject" action="/eotd/team/{{team.id}}/save/" enctype="multipart/form-data"> {% csrf_token %}
        {{ formset.management_form }}
        <div style="float:left; display:inline-block;">
        {% if edit %}
        <h1>{% trans "Edit team"%}</h1>
        {% else %}
        <h1>{% trans "View team"%}</h1>
        </div>
        {% endif %}
        <div style="float:right; display:inline-block;"><a class="link" href="/eotd/team/{{team.id}}/print/">Print view</a></div>

        <div style="width:100%; clear:both;">
            <div class="leftDouble">
                <table class="ui-widget-header">
                    <tbody class="ui-widget-content">
                        <tr><td>{{formObject.name.label}}</td><td>{{formObject.name}}</td></tr>
                        <tr><td>{% trans 'Standing' %}</td><td></td></tr>
                        <tr><td>{% trans 'Coins' %}</td><td>{{team.coins}}</td></tr>
                        <tr><td>{% trans 'Faction' %}</td><td>{{team.faction}}</td></tr>
                    </tbody>
                </table>
            </div>

            <div class="rightDouble">
                <table class="ui-widget">
                    <tbody class="ui-widget-content">
                        <tr><td>{% trans 'Description' %}</td><td>{{formObject.description|add_class:"ui-content"}}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>

        {% if edit %}
        <div style="width=100%; display:block; clear:both;">
            <table>
                <tbody>
                    <tr>
                        <td> <button name="save" type="submit">{% trans "Save" %}</button> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
    </form>

        <div style="width=100%; display:block; clear:both;">
            <table id="unit_table" class="ui-widget">
                <thead class="ui-widget-header">
                    <tr><th>{% trans 'Name' %}</th><th>{% trans 'Role' %}</th><th>{% trans 'Movement' %}</th><th>{% trans 'Combat' %}</th><th>{% trans 'Marks.' %}</th><th>{% trans 'Strength' %}</th><th>{% trans 'Fortitude' %}</th><th>{% trans 'Attacks' %}</th><th>{% trans 'Wounds' %}</th><th>{% trans 'Bravado' %}</th><th>{% trans 'Arcane' %}</th><th>{% trans 'Cost' %}</th></tr>
                </thead>
                    {% for item in team.units.all %}
                    <tbody class="tb_unit ui-widget-content" id="{{item.id}}">
                        <tr>
                            <td id="td_name_{{item.id}}"><button class="name_button" style="width: 150px" value="{{item.id}}" id="name_{{item.id}}">{{ item.name}}</button></td><td>{{item.baseUnit.name}}<td>{{item.movement}}</td><td>{{item.combat}}</td><td>{{item.marksmanship}}</td><td>{{item.strength}}</td><td>{{item.fortitude}}</td><td>{{item.attacks}}</td><td>{{item.wounds}}</td><td>{{item.bravado}}</td><td>{{item.arcane}}</td><td>{{item.cost}}</td>
                        </tr>
                        <tr>
                            <td class="weapon_row"><p></p></td>
                            <td colspan="12" class="weapon_row">
                            {% if item.weapons.all %}
                                {% for weapon in item.baseWeapons.all %}
                                {% comment %}{% if forloop.counter > 1 %}, {% endif %} {% endcomment %}
                                <div class="weapon">
                                    {{weapon}}
                                </div>
                                {% endfor %}

                                {% for weapon in item.boughtWeapons.all %}
                                {% comment %} greg{% if forloop.counter > 1 or item.baseWeapons %}, {% endif %} {% endcomment %}
                                <div id="{{item.id}}_{{weapon.id}}" class="weapon bought-weapon ui-state-highlight {% if weapon.medieval %}medieval-weapon{% endif %}">
                                    <p style="margin-bottom: 0px;">{{weapon}}</p>
                                </div>
                                {% endfor %}
                            {% endif %}
                            <div class="weapon-slot ui-state-content {% if item.medieval %}medieval-slot{% endif%}" id="ws_{{item.id}}"></div>
                            <div class="ui-state-content"><button class="purchase_button" style="float:right;" value="{{item.id}}" id="purchase_{{item.id}}">{% trans 'Equip' %}</button></div>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
            </table>
        </div>

        <div style="width=100%; display:block; clear:both;">
greg put team store here?
        </div>
        {% if edit %}
        <div style="width=100%; display:block; clear:both;">
            <table class="ui-widget">
                <thead class="ui-widget-header">
                    <tr><th></th><th>{% trans 'Movement' %}</th><th>{% trans 'Combat' %}</th><th>{% trans 'Marks.' %}</th><th>{% trans 'Strength' %}</th><th>{% trans 'Fortitude' %}</th><th>{% trans 'Attacks' %}</th><th>{% trans 'Wounds' %}</th><th>{% trans 'Bravado' %}</th><th>{% trans 'Arcane' %}</th><th>{% trans 'Cost' %}</th><th></th></tr>
                </thead>
                <tbody class="ui-widget-content">
                    {% for item in team.faction.unit_templates.all %}
                    <tr>
                        <td>{{ item.name}}</td><td>{{item.movement}}</td><td>{{item.combat}}</td><td>{{item.marksmanship}}</td><td>{{item.strength}}</td><td>{{item.fortitude}}</td><td>{{item.attacks}}</td><td>{{item.wounds}}</td><td>{{item.bravado}}</td><td>{{item.arcane}}</td><td>{{item.cost}}</td><td><a class="link" href="/eotd/team/{{team.id}}/hire/{{item.id}}/">{% trans 'Hire' %}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        <div id="name_dialog" title="{%trans 'Change name'%}" style="display:none"><input type="text" id="name_input"></input></div>
        <div id="purchase_dialog" title="{%trans 'Purchase equipment' %}" style="display:none"></div>
{% endblock %}
