{% extends "site_base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/campaign_1.0.0.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/team_edit_1.0.0.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<style>
    .weapon { display:inline-block;float:left;margin:1px;padding-left:4px;padding-right:4px;min-height:22px;}
    .weapon-slot { width:100px; display:inline-block;float:left;margin:1px; min-height:18px;}
    .pawn-slot { width:25%; display:inline-block;float:left;margin:10px; min-height:80px;}
    .store-slot { width:50%; display:inline-block;float:right;margin:10px; min-height:80px;}
    .weapon_row { padding:1px 8px 1px; }
    .equip_select { display:inline-block;float:left;margin:1px; }
    .MNG { display:inline-block;float:left;margin:1px; padding:0px 6px; }
    .injury { display:inline-block;float:left;margin:1px; padding:0px 6px; }
</style>
<script type="text/javascript">

$(document).ready(function() {
    var csrftoken = $.cookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $('#id_delete').click(function() {
        return confirm("{%trans 'Are you certain that you wish to permenantly delete this faction?'%}");
    });
    function dynamic_elements(){
        $( "input:submit, .link, button" ).button();

        $(".bought-weapon" ).draggable({ revert: "invalid",
            start: function(event, ui) {
            $(this).data('startPosition', ui.position);
            },
        });
        $(".weapon-slot, .store-slot, .pawn-slot" ).droppable({activeClass: "ui-state-hover",
            drop: function(event, ui) { 
                var source = ui.draggable.attr("id").split('_');
                var fromUnit = source[0];
                var weapon = source[1]
                var toUnit = $(this).attr("id").split('_')[1]
                $.ajax({
                    type: 'POST',
                    url: "/eotd/weapon/{{team.id}}/move/",
                    data: {'from':fromUnit, 'to':toUnit, 'weapon':weapon},
                    dataType: "json",
                    context: $(this),
                    success: function(msg){
                        if (toUnit == 'sell')
                            ui.draggable.remove();
                        else
                            ui.draggable.attr("id",toUnit+"_"+weapon);
                        $('#id_coins').html(msg);
                    },
                    error: function(data){
                        $(ui.draggable).animate($(ui.draggable).data('startPosition'), 500);
                    }
                });
            }
            });
        $(".medieval-slot").droppable({accept:".medieval-weapon"});
        function fire_core(unit, cmd) {
            $.ajax({
                type: 'POST',
                url: "/eotd/unit/"+unit+"/"+cmd+"/",
                dataType: "json",
                success: handleInner,
                error: function(msg){
                    alert(msg.responseText);
                }
            });
        }
        $('.unretire_button').click(function() {
            fire_core($(this).val().split('_')[0], "unretire");
            return false;
        });
        $('.unhire_button').click(function() {
            if (confirm("{% trans 'Please confirm that you wish to cancel hiring this character.' %}")) {
                fire_core($(this).val().split('_')[0], "fire");
            }
            return false;
        });
        $('.retire_button').click(function() {
            if (confirm("{% trans 'Are you certain you want to retire this character?\nYou will not be able to reverse this decision after playing your next game.' %}"))
                fire_core($(this).val().split('_')[0], "fire");
            return false;
        });
        $('.purchase_button').click(function() {
            $("#purchase_dialog").data('caller', this).dialog('open');
            // prevent the default action, e.g., following a link
            return false;
        });
        $('.name_button').click(function() {
            $("#name_dialog").data('caller', this).dialog('open');
            // prevent the default action, e.g., following a link
            return false;
        });
        $("#id_retired").accordion({collapsible:true, active:false});
    }
    function handleInner(msg){
        if (msg['coins'])
            $('#id_coins').text(msg['coins']);
        if (msg['inner'])
            $('#id_inner').html(msg['inner']);
        dynamic_elements();
    }
    dynamic_elements();
    $("#id_games").accordion({collapsible:true, active:false});
    function update_injury_dialog_html(html){
        $("#injury_dialog").html(html);
        $(".heal-button, .heal-and-close-button" ).button();
        $('.heal-button').click({close:false},heal_click);
        $('.heal-and-close-button').click({close:true},heal_click);
        //greg buttonify any buttons
    }
    function update_purchase_dialog_html(html){
        $("#purchase_dialog").html(html);
        $(".equip-button, .equip-and-close-button" ).button();
        $('.equip-button').click({close:false},equip_click);
        $('.equip-and-close-button').click({close:true},equip_click);
    }
    function background_inner() {
        $.ajax({
            type: 'POST',
            url: "/eotd/team/{{team.id}}/inner/",
            context: $(this),
            dataType: "json",
            success: handleInner,
            });
    }
    function heal_click(event){
        var source = $(this).val().split('_');
        var unit = source[0];
        var injury = source[1];
        var doc = $("#inj_"+injury).val();
        $.ajax({
            type: 'POST',
            url: "/eotd/unit/"+unit+"/injuries/"+injury+"/",
            data: {'doctor':doc},
            success: function(msg){
                if (event.data.close)
                    $("#injury_dialog").dialog('close');
                else
                    update_injury_dialog_html(msg);
                background_inner();
            },
            error: function(msg){
                alert(msg.responseText);
            }
        });
        return false;
    }
    function equip_click(event){
        var source = $(this).val().split('_');
        var unit = source[0];
        var weapon_list = source[1];
        var weapon = $("#wl_"+weapon_list).val();
        $.ajax({
            type: 'POST',
            url: "/eotd/unit/"+unit+"/buy/"+weapon+"/",
            success: function(msg){
                if (event.data.close)
                    $("#purchase_dialog").dialog('close');
                else
                    update_purchase_dialog_html(msg);
                background_inner();
            },
            error: function(msg){
                alert(msg.responseText);
            }
        });
        return false;
    }
    $("#injury_dialog").dialog({
        width: 640,
        height: 320,
        bgiframe: true,
        autoOpen: false,
        modal: true,
        buttons: {
            {% trans "'Close'"%}: function(){
                $(this).dialog('close');
            }
        },
        open: function(event){
            $.ajax({
                type: 'POST',
                url: "/eotd/unit/"+$('#'+$(this).data('caller').id).val()+"/injuries/",
                context: $(this),
                success: function(msg){
                    update_injury_dialog_html(msg);
                    return false;
                },
                error: function(msg) {
                    $("#injury_dialog").dialog('close');
                    alert(" {% trans 'Error' %}");
                },
            });
        },
    });

    $("#purchase_dialog").dialog({
        width: 480,
        height: 320,
        bgiframe: true,
        autoOpen: false,
        modal: true,
        buttons: {
            {% trans "'Close'"%}: function(){
                $(this).dialog('close');
            }
        },
        open: function(event){
            $.ajax({
                type: 'POST',
                url: "/eotd/unit/"+$('#'+$(this).data('caller').id).val()+"/equip/",
                context: $(this),
                success: function(msg){
                    update_purchase_dialog_html(msg);
                    return false;
                },
                error: function(msg) {
                    $("#purchase_dialog").dialog('close');
                    alert(" {% trans 'Error' %}");
                },
            });
        },
    });

    $("#name_dialog").dialog({
        width: 400,
        height: 180,
        bgiframe: true,
        autoOpen: false,
        modal: true,
        buttons: {
            'View Injuries': function(){
                $(this).dialog('close');
                $("#injury_dialog").data('caller', $(this).data('caller')).dialog('open');
                return false;
            },
            '{% trans "Update Name" %}': function(){
                $.ajax({
                    type: 'POST',
                    url: "/eotd/unit/"+$('#'+$(this).data('caller').id).val()+"/rename/",
                    data: {'name':$(this).find('input').val()},
                    dataType: "json",
                    context: $(this),
                    success: function(data){
                        $('#'+$(this).data('caller').id).button( "option", "label", $(this).find('input').val() );
                        $(this).dialog('close');
                    },
                    error: function(data){
                        alert(data.responseText);
                    },
                });
                },
            'Cancel': function(){
                $(this).dialog('close');
            }
        },
        open: function(event){
            // Set the input to contain the current name
            $(this).find('input').val( $('#'+$(this).data('caller').id).text()  );
              },
    });

    $('#unit_table').sortable({
        items: 'tbody',
        forcePlaceholderSize: true,
        placeholder: 'group_move_placeholder',
        update: function( event, ui ) {
            $.ajax({
                type: 'POST',
                url: "/eotd/team/{{team.id}}/reorder/",
                data: {'order':$(this).sortable('toArray')},
                dataType: "json",
                error: function(data){
                    alert("{%trans 'Unable to save updated faction order.' %}");
                },
            });
            }
        });
});
</script>
{% endblock extra_head %}

{% load ifsetting_tag %}

{% block head_title %}

{% if edit %}
{% trans "Edit Faction" %}
{% else %}
{% trans "View Faction" %}
{% endif %}
{% endblock %}

{% block body %}
    <form method="post" id="formObject" action="/eotd/team/{{team.id}}/save/" enctype="multipart/form-data"> {% csrf_token %}
        {{ formset.management_form }}
        <div style="float:left; display:inline-block;">
        {% if edit %}
        <h1>{% trans "Edit faction"%}</h1>
        {% else %}
        <h1>{% trans "View faction"%}</h1>
        </div>
        {% endif %}
        <div style="float:right; display:inline-block;"><a class="link" href="/eotd/team/{{team.id}}/print/">{% trans 'Print view' %}</a></div>
        <div style="float:right; display:inline-block;"><a class="link" href="/eotd/team/{{team.id}}/csv/">{% trans 'As CSV' %}</a></div>

        <div style="width:100%; clear:both;">
            <div class="leftDouble">
                <table>
                    <tbody class="ui-widget-content">
                        <tr><td>{{formObject.name.label}}</td><td>{{formObject.name}}</td></tr>
                        <tr><td>{% trans 'Owner' %}</td><td><a href="/profiles/profile/{{team.owner}}/">{{team.owner}}</a></td></tr>
                        <tr><td>{% trans 'Standing' %}</td><td>{{team.value}}</td></tr>
                        <tr><td>{% trans 'Coins' %}</td><td id="id_coins">{{team.coins}}</td></tr>
                        <tr><td>{% trans 'Faction' %}</td><td>{{team.faction}}</td></tr>
                        <tr><td>{% trans 'Influences' %}</td><td>{{team.influence}}</td></tr>
                    </tbody>
                </table>
            </div>

            <div class="rightDouble">
                <table class="ui-widget">
                    <tbody class="ui-widget-content">
                        <tr><td>{% trans 'Description' %}</td><td>{{formObject.description|add_class:"ui-content"}}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>

        {% if edit %}
        <div style="width=100%; display:block; clear:both;">
            <table>
                <tbody>
                    <tr>
                        <td> <button name="save" type="submit">{% trans "Save" %}</button> </td>
                        <td><a id="id_delete" class="link" href="/eotd/team/{{team.id}}/delete/">{% trans 'Delete Faction' %}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
    </form>

    <div id="id_inner"style="width=100%; display:block; clear:both;">
        {% include 'eotd/team_inner.html' %}
    </div>

    {% if edit %}
    <div style="width=100%; display:block; clear:both;">
        <table class="ui-widget">
            <thead class="ui-widget-header">
                <tr><th></th><th>{% trans 'Movement' %}</th><th>{% trans 'Combat' %}</th><th>{% trans 'Marks.' %}</th><th>{% trans 'Strength' %}</th><th>{% trans 'Fortitude' %}</th><th>{% trans 'Attacks' %}</th><th>{% trans 'Wounds' %}</th><th>{% trans 'Bravado' %}</th><th>{% trans 'Arcane' %}</th><th>{% trans 'Cost' %}</th><th></th></tr>
            </thead>
            <tbody class="ui-widget-content">
                {% for item in team.faction.availableUnitTemplates %}
                <tr>
                    <td>{{ item.name}}{% for minion in item.comesWith.all %} [{{minion.name}}]{% endfor %}</td><td>{{item.movement}}</td><td>{{item.combat}}</td><td>{{item.marksmanship}}</td><td>{{item.strength}}</td><td>{{item.fortitude}}</td><td>{{item.attacks}}</td><td>{{item.wounds}}</td><td>{{item.bravado}}</td><td>{{item.arcane}}</td><td>{{item.cost}}</td><td><a class="link" href="/eotd/team/{{team.id}}/hire/{{item.id}}/">{% trans 'Hire' %}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    {% if team.game_for_team.exists %}
    <div style="width=100%; display:block; clear:both;" id="id_games">
        <p>View team's games.</p>
        <table class="ui-widget">
            <thead class="ui-widget-header">
                <tr>
                    <th>{% trans 'Enemy' %}</th>
                    <th>{% trans 'Campaign' %}</th>
                    <th>{% trans 'Date' %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="ui-widget-content">
                {% for game in team.game_for_team.all %}
                <tr>
                    {% for gameTeam in game.gameteam_set.all %}
                        {% if team != gameTeam.team %}
                        <td><a href="/eotd/team/{{gameTeam.team.id}}/">{{gameTeam.team}}</a></td>
                        {% endif %}
                    {% endfor %}
                    <td><a href="/eotd/campaign/{{game.campaign.id}}/">{{game.campaign}}</a></td>
                    <td>{{game.date}}</td>
                    <td><a class="link" href="/eotd/game/{{game.id}}/">{% trans 'View game' %}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

        <div id="name_dialog" title="{%trans 'Change name'%}" style="display:none">
            <input type="text" id="name_input"></input>
        </div>
        <div id="purchase_dialog" title="{%trans 'Purchase equipment' %}" style="display:none"></div>
        <div id="injury_dialog" title="{%trans 'Heal injury' %}" style="display:none"></div>
{% endblock %}
