{% load i18n %}
<div style="width=100%; display:block; clear:both;">
    <table id="unit_table" class="ui-widget">
        <thead class="ui-widget-header">
            <tr><th>{% trans 'Name' %}</th><th>{% trans 'Role' %}</th><th>{% trans 'Movement' %}</th><th>{% trans 'Combat' %}</th><th>{% trans 'Marks.' %}</th><th>{% trans 'Strength' %}</th><th>{% trans 'Fortitude' %}</th><th>{% trans 'Attacks' %}</th><th>{% trans 'Wounds' %}</th><th>{% trans 'Bravado' %}</th><th>{% trans 'Arcane' %}</th><th>{% trans 'Cost' %}</th></tr>
        </thead>
            {% for item in team.units.all %}
            <tbody class="tb_unit ui-widget-content" id="{{item.id}}">
                <tr>
                    <td id="td_name_{{item.id}}"><button class="name_button" style="width: 150px" value="{{item.id}}" id="name_{{item.id}}">{{ item.name}}</button></td><td>{{item.baseUnit.name}}<td>{{item.movement}}</td><td>{{item.combat}}</td><td>{{item.marksmanship}}</td><td>{{item.strength}}</td><td>{{item.fortitude}}</td><td>{{item.attacks}}</td><td>{{item.wounds}}</td><td>{{item.bravado}}</td><td>{{item.arcane}}</td><td>{{item.cost}}</td>
                </tr>
                <tr>
                    <td class="weapon_row"><p></p></td>
                    <td colspan="12" class="weapon_row">
                    {% if item.weapons.all %}
                        {% for weapon in item.baseWeapons.all %}
                        <div class="weapon">
                            {{weapon}}
                        </div>
                        {% endfor %}

                        {% for weapon in item.boughtWeapons.all %}
                        <div id="{{item.id}}_{{weapon.id}}" class="weapon bought-weapon ui-state-highlight {% if weapon.medieval %}medieval-weapon{% endif %}">
                            <p style="margin-bottom: 0px;">{{weapon}}</p>
                        </div>
                        {% endfor %}
                    {% endif %}
                    <div class="weapon-slot ui-state-content {% if item.medieval %}medieval-slot{% endif%}" id="ws_{{item.id}}"></div>
                    <div style="float:right;">
                        <div class="ui-state-content" style="display:inline-block; float:right;"><button class="purchase_button" style="float:right;" value="{{item.id}}" id="purchase_{{item.id}}">{% trans 'Equip' %}</button></div><div class="ui-state-content" style="padding:0px 6px; display:inline-block; float:left;"><button class="fire_button" type="button" value="{{item.id}}" id="fire_{{item.id}}">{% if item.isNew %} {% trans 'Un-hire' %} {% else %} {% trans 'Fire' %} {% endif %}</button></div>
                    </div>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
    </table>
</div>

<div style="width=100%; display:block; clear:both;" class="ui-widget-header">
    {% if edit %}
    <div class="pawn-slot ui-widget-header" id="id_sell">
        <p><h2>Sell item</h2>
        (drag item here)</p>
    </div>
    {% endif %}
    <div class="ui-widget-header store-slot" id="id_store">
        <p><h2>Faction store.</h2>
        (drag item here)</p>
            {% for unitweapon in team.unitweapon_set.all %}
            <div id="store_{{unitweapon.weapon.id}}" class="weapon bought-weapon ui-state-highlight {% if unitweapon.weapon.medieval %}medieval-weapon{% endif %}">
                <p style="margin-bottom: 0px;">{{unitweapon.weapon}}</p>
            </div>
            {% endfor %}
    </div>
</div>
