{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}

{% block nav %}
    <ul>{% spaceless %}
        <li><a href="/eotd/campaign/">{% trans "Campaigns" %}</a></li>
        <li>
            <a href="/eotd/team/" class="menu">{% trans 'Factions' %}</a>
                <ul class="menu-dropdown">
                    <li><a href="/eotd/team/">{% trans "All" %}</a></li>
                    {% for item in factions %}
                    <li><a href="/eotd/team/list/{{item.id}}/">{{item}}</a></li>
                    {% endfor %}
                </ul>
        </li>
        {% if user.is_authenticated %}
            <li><a href="/eotd/campaign/0/">{% trans "New Campaign" %}</a></li>
            <li><a href="/eotd/team/0/">{% trans "New Faction" %}</a></li>
            <li id="tab_profile"><a href="{% url profile_detail user.username %}">{% trans "Profile" %}</a></li>
            <li id="tab_notices"><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li>
        {% endif %}
    {% include "eotd/help.html" %}
    {% endspaceless %}</ul>
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
